* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Ubuntu Mono', monospace;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
body {
    width: 80vw;
    height: 80dvh;
    margin: 0 auto;
}
.nav {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.list-items {
    list-style: none;
    
}
.link {
    font-size: 3rem;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    color: #551A8B;
    transition: all 300ms ease-in-out;
}
.link:hover {
    color: black;
    
}
.active {
    color: black;
    font-size: 4rem;
}
.title {
    font-size: 4rem;
    text-align: start;
    padding: 1rem;
    color: #551A8B;
}
.subtitle {
    font-size: 3rem;
    text-align: start;
    padding: 1rem;
    color: #551A8B;
}
.search-description {
    font-size: 2rem;
    text-align: start;
    padding: 1rem;
    color: #551A8B;
    margin-top: -1rem;
}
label {
    font-size: 2rem;
}
input {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-left: 1rem;
}

.search-characters-list {
    font-size: 2rem;
    line-height: 2rem;
    opacity: 0.6;
    margin-top: -2.5rem;
    text-align: start;
    padding: 1rem;
}
.search-container-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    /* border: 1px solid #551A8B; */
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #e1c7fa5b;
    box-shadow: 1px 3px 15px #551A8B;
    
}
.inputs-container {
    flex-basis: 40%;
    margin-left: 5rem;
    padding: 1.5rem;
}
.search-display {
    flex-basis: 50%;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    
}
.fa-brands {
    font-size: 3rem;
    color: #000000;
    font-weight: 900;
    margin-bottom: 0;
    transition: all 700ms ease-in-out;
}
.icon:hover {
    transform: rotate(360deg) scale(1.5);
}
.button {
    width: 7rem;
    position: absolute;
    top: 37px;
    right: 500px;
    font-size: 1.5rem;
    background-color: #551A8B;
    color: white;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.5rem;
}   
.add-to-favorites {
    width: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: all 300ms ease-in-out;
    border: 2px solid #551A8B;
    border-radius: 10rem;
    position: absolute;
    top: 49rem;
    left: 117rem;
    cursor: pointer;
    z-index: 999;
}
.add-to-favorites:hover {
    background-color: #551A8B;
    color: white;
}
.button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.dark-mode {
    background-color: #000000;
    color: white;
    transition: all 800ms ease-in-out;
}
.light-mode {
    background-color: white;
    color: #541a8bda;
    transition: all 800ms ease-in-out;
}
.cards-container {
    /* background-color: #551A8B; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.card {
    border: 1px solid rgb(97, 97, 97);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 10px black;
    overflow: hidden;
}
img {
    display: block;
    width: 100%;
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
    transition: all 300ms ease-in-out;
}
img:hover {
    transform: scaleX(1.040);    
}

/* search section starts here */
.search-container {
    display: flex;
    flex-direction: column;
    width: 35rem;
}
.search-subtitle {
    font-size: 3rem;
    color: #551A8B;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.5rem;
}
.search-name {
    font-size: 3rem;
    font-weight: 600;
}
.search-status {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0 !important;
}
.search-species {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.search-img {
    width: 100%;
}
.search-error {
    font-size: 5rem;
    color: #551A8B;
}
/* search section ends here */

/* contact section starts here */
.contact-main {
    margin-top: 20rem;
    margin-bottom: 20rem;
}
.contact-form {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    width: 50%;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 5rem;
    background-color: #541a8b;
    box-shadow: 1px 3px 7px grey;
    color: white;
}
.form-text {
    font-size: 1.6rem;
    color: #d3b8ec;
    margin-top: 1rem;
    
}
.btn.btn-primary {
    width: 12rem;
    font-size: 2rem;
    padding: 0.5rem;
    
}
.btn.btn-primary:hover {
    background-color: #551A8B;
    color: white;
    transition: all 400ms ease-in-out;
}

.form-label {
    font-size: 2rem;
    font-weight: 600;    
}
/* contact section ends here */














h2 {
    font-size: 2rem;
}
h3 {
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 2rem;
}
p {
    font-size: 1.5rem;
    padding: 0.3rem;
}
p:nth-child(3) {
    margin-bottom: 2rem;
}




